@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --main-color: red;
    --black: black;
    --light-color: #868e96;

}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding:0;
    text-decoration: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
::selection{
    background: var(--main-color);
    color: #fff;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: #fafafa;
    border-radius: 5rem;
}
body{
    height: 200rms;
}
/* header  starts */
.header{
position: fixed;
top:0;
left:0;
right:0;
padding: 3rem;
display: flex;
align-items: center;
justify-content: space-between;
background: rgba(255,255,255,.1);
box-shadow: 0rem .1rem .5rem rgba(0,0,0,.1);
z-index: 1000;

}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight:uppercase;
    letter-spacing: .1rem;
}
.header .logo span{
    color: var(--main-color);
    text-transform:uppercase;
}
.header .navbar a{
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}
.header .navbar a:hover{
    color: var(--main-color);

}
.header .navbar a:hover{
    font-size: 2.5rem;
    color: #19058a;
    padding: .5rem;
    cursor:pointer;
    margin-left: 1rem;
}
.header .icons a{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color:#fff;
    background: var(--main-color);
    font-weight:500;
    text-transform: uppercase;
    padding: .8rem 2rem;
    border: none;
}
.header .icon a:hover{
    color: var(--main-color);
    background: #fff;
}
.btn{
    font-size: 2rem;
    border: solid orangered;
    background-color: orangered;
    border-radius: 2px;
    padding: 2px;
}
.btn:hover{
    cursor: pointer;
    padding: 6px;
} 
/* header end */

